html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: #111;
}

.key {
	float: left;
	position: relative;
}

.white {
	height: 14.4vw;
	width: 3.8095238095vw;
	z-index: 1;
	border-top: 0.12vw solid #aaaaaa;
	border-bottom: 0.12vw solid #aaaaaa;
	border-left: 0.12vw solid #aaaaaa;
	background-color: #cbcbcb;
}

.black {
	height: 7.92vw;
	width: 2.0952380952vw;
	z-index: 2;
	border: 0.12vw solid #000000;
	background-color: #222222;
}

.A,
.B,
.D,
.E,
.F,
.G,
.black {
	margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .note:last-child {
	border-right: 0.12vw solid #aaaaaa;
}
