#main-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

#notation {
	grid-column: 1/4;
	grid-row: 1/2;

	align-self: center;
	justify-self: center;
}

#pianoKeyboard {
	grid-column: 1/4;
	grid-row: 2/3;

	align-self: center;
	justify-self: center;
}