body {
	font-family: 'Roboto', sans-serif;
}

#main-wrapper {
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

#notation-wrapper {
	grid-column: 1/4;
	grid-row: 1/2;

	height: 150px;

	align-self: center;
	justify-self: center;
}
#notation {
	align-self: center;
	justify-self: center;
}

#pianoKeyboard {
	grid-column: 1/4;
	grid-row: 2/3;

	align-self: center;
	justify-self: center;
}

button {
	width: 300px;
	height: 100px;
	font-size: 16pt;
	align-self: center;
	justify-self: center;
}